<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyj.dao.ComponentDao">

	<select id="selComponent" resultType="component">
		SELECT
		comState
		FROM component
	</select>
	
	<update id="updCom" parameterType="component">
		UPDATE component
		<trim suffix="" suffixOverrides="," prefix="SET" prefixOverrides="">
			<if test="comState != 2 ">
				comState=#{comState},
			</if>
		</trim>

		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="id != 0">
				and id=#{id}
			</if>
		</trim>
	</update>

</mapper>